@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */
table th, table td {
    text-align: center;
}

table thead th {
    background-color: #007bff;
    color: white;
}

table tbody tr:hover {
    background-color: #f2f2f2;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-warning {
    background-color: #ffc107;
    border-color: #ffc107;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}


/* Flex container untuk layout */
.flex-container {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 20%; /* Lebar sidebar */
    background-color: #0284c7;
    color: white;
    transition: width 0.5s ease;
    overflow: hidden; /* Sembunyikan konten saat lebar 0 */
    flex-shrink: 0; /* Sidebar tidak mengecil */
}

.sidebar-closed {
    width: 0; /* Sidebar tertutup sempurna */
    padding: 0; /* Hapus padding */
    margin: 0; /* Hapus margin */
    transform: translateX(-100%); 
    transition: width 1s ease;
}

/* Main content */
.main-content {
    flex: 1; /* Mengisi seluruh ruang sisa */
    background-color: #f3f4f6;
    padding: 1rem; /* Tambahkan padding */
    transition: all 0.5s ease;
    margin-left: 0; /* Pastikan tidak ada margin kiri */
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: linear-gradient(to right, #0284c7, #027bb5);
    color: white;
}

/* Tombol toggle */
.toggle-btn {
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}